.icon {
  background: center / contain no-repeat, var(--gray-natural-medium);
  display: inline-block;
  height: 32px;
  width: 32px;
  mask-position: center !important;
  mask-repeat: no-repeat !important;
  mask-size: contain !important;

  &:hover{
    background-color: var(--white-natural-1);
  }

  &_color {
      &_white {
        background-color: var(--white-natural-1);
      }
      &_red {
        background-color: var(--dark-red-natural-1);
      }
  }

  &_hover-color {
    &_red {
      &:hover{
        background-color: var(--dark-red-natural-1) !important;
      }
    }

  }
}