.common-bt {
  display: flex;
  justify-content:center;
  align-items: center;
  border: 2px solid var(--gray-natural-medium);
  color: var(--gray-natural-medium);
  border-radius: 12px;
  padding: 8px 12px;
  cursor: pointer;

  &_disable {
    cursor: not-allowed;
    border-color: var(--dark-red-natural-1);
    color: var(--dark-red-natural-1);

  }

  &:hover {
    border-color: var(--white-natural-1);
    color: var(--white-natural-1);
  }

}