.header {
  display: inline-flex;
  width: 100%;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;

  &__icon-bt-setting {
    div {
      transform: rotate(0deg);
    }
        &:hover {
          div{
            transform: rotate(360deg);
          }
        }
    }
}
