.header {
  display: inline-flex;
  width: 100%;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;

  &__icon-bt {
    width: 45px;
    height: 45px;
  }

  &__icon {
    width: 45px;
    height: 45px;
  }

  &__icon-setting {
    transform: rotate(0deg);
    transition: all .5s;
    &:hover {
    transform: rotate(360deg);
  }
  }
}
