.radio-button {

  &__block-radio-bt {
    display: flex;
    border-radius: 30px;
    border: 2px solid;
    background: var(--black-natural-1);
    transition: all .5s;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0px -1px 9px 0px var(--box-shadow);
    cursor: pointer;
    position: relative;

    &_size{
      &_small {
        min-height: 20px;
      }

      &_medium {
        min-height: 24px;
      }

      &_large {
        min-height: 28px;
      }
    }
    div{
      transition-duration: .4s;
    }

    &:hover {
        border-color: var(--hover-border-color-radio-bt);
        box-shadow: inset 0px -1px 9px 0px var(--box-shadow),
                  0px 0px 5px 0px var(--hover-border-color-radio-bt);
      div {
        border-color: var(--hover-circle-color-radio-bt);
      }
    }
  }

  &__circle{
    transition: all .4s;
    border-radius: 100%;
    border: 2px solid var(--gray-natural-medium);
    margin-left: var(--margin-left-circle-radio-bt);
    z-index: var(--z-index-button);
    display: flex;
    justify-content: center;
    align-items: center;

    &_animation-run {
      animation: 1s circle ease-in-out;
    }
  }

  &__prefix {
    font-size: .8rem;
    transition: all .2s ease-in-out;
    position: absolute;
    display: flex;
    left: 8px;
    z-index: var(--z-index-backgound);
    &_hidden{
       opacity: 0;
    }
    &_size{
      &_small {
        min-height: 20px;
      }

      &_medium {
        min-height: 24px;
      }

      &_large {
        min-height: 28px;
      }
    }
  }

  &__suffix {
    font-size: .8rem;
    transition: all .2s ease-in-out;
    position: absolute;
    display: flex;
    right: 8px;
    z-index: var(--z-index-backgound);
    &_hidden {
      opacity: 0;
    }
  }

}

@keyframes circle {
  0%{
    transform: scaleY(0.8);
  }
  10%{
    transform: scaleY(0.6);
  }
  50%{
    transform: scaleX(0.8);
  }
  70%{
    transform: scale(0.9);
  }
  90%{
    transform: scaleY(1);
  }
  95%{
    transform: scale(1);
  }
  100%{
    transform: scaleY(1);

  }

}