.inventory{
    background: var(--gray-natural-medium);
    border-radius: 34px;
    height: 95%;
    width: 204px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 40px;
    border: 2px solid var(--gray-natural-dark);

    &__button {
        display: flex;
        width: 100%;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        height: 30px;
        background: var(--gray-natural-dark);
        cursor: pointer;

        &_revers {
            transform: rotate(180deg);
        }

    }

    &__body {
        display: flex;
        height: calc(100% - 60px);
        padding: 10px;
        flex-direction: column;
        gap: 20px;
        background: var(--black-natural-3);
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 2px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
        }
    }

    &__element_inventory {
        display: flex;
        height: 121px;
        background: var(--black-natural-2);
        width: 180px;
        box-shadow: inset -1px 1px 17px 9px var(--box-shadow);
        border-radius: 8px;
        cursor: pointer;
        flex-grow: 0;
        flex-shrink: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_checked {
            border: 2px solid var(--white-natural-1);
            height: 117px !important;
            width: 176px !important;
        }

        &_empty {
            cursor:not-allowed;
        }
    }

    &__description_thing {
        margin: 5px 0 0 0;
        color: #655e5e;
    }

}