.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  height: 20px;
  color: var(--white-natural-1);
  border-radius: 12px;
  border: 1ps solid var(--white-natural-1);
  min-width: 40px;

  &_disable {
    cursor: not-allowed;
    &:hover{
      background-color: inherit;
    }
  }

}
