.icon-bt {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--gray-natural-medium);
  border-radius: 12px;
  border-color: var(--border-color-bt);
  position: relative;
  z-index: var(--z-index-button);


  div {
    background-color: var(--border-color-bt);
    transition:all 500ms;
  }

  &:active {
      transform: scale(.8);
  }

  &:hover {
    border-color: var(--hover-border-color-bt);
    div {
      background-color: var(--hover-border-color-bt) !important;
    }
  }
  &_disable {
    cursor: not-allowed;
  }

  &_size{
    &_small{
      height: 24px;
      width: 24px;
    }

    &_medium {
      height: 32px;
      width: 32px;
    }

    &_large {
      height: 40px;
      width: 40px;
    }
  }



}
