.fridge-img {
  &_main {
    background-image: url('img/Fridge.png');
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1%;
  }

  &_top {
    background-image: url('img/Top-door.png');
  }

  &_top_open{
    background-image: url('img/Open-top-door.png');
  }

  &_bottom {
    background-image: url('img/Buttom-door.png');
  }

  &_bottom_open {
    background-image: url('img/Open-door.png');
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.fridge-construction {
  z-index : var(--z-index-things-third-plan);
  &_main {
    display: flex;
    width: 16%;
    position: absolute;
    height: 60%;
    margin-right: 50px;
  }

  &_top{
    margin-top: 7%;
    display: flex;
    width: 75%;
    height: 29%;
    cursor: pointer;
  }

  &_top_open {
    margin-top: 7%;
    margin-left: 3%;
    display: flex;
    width: 70%;
    height: 29%;
    cursor: pointer;
  }

  &_bottom {
    display: flex;
    width: 75%;
    height: 48%;
    cursor: pointer;
  }

  &_bottom_open {
    margin-left: 3%;
    display: flex;
    width: 70%;
    height: 48%;
    cursor: pointer;
  }


}
