
html[data-theme='dark']{
  --black-natural-2: #1c1c1c;
  --black-natural-1: #000000;
  --black-natural-3: #232323;
  --gray-natural-dark: #313131;
  --gray-natural-medium: #3e3e3e;
  --gray-natural-light: #636363;
  --white-natural-1: #d2d2d2;

  --modal-background: #d2d2d2;

  --dark-red-natural-1: #870000;

  --dark-mask-1: #0000009c;

  --box-shadow: #000000;
  --z-index-backgound: 10;
  --z-index-things-third-plan:  13;
  --z-index-things-second-plan: 15;
  --z-index-things-first-plan: 20;
  --z-index-button: 40;
  --z-index-popup: 80;
  --z-index-modal: 100;
}

html[data-theme='light']{
  --black-natural-1: #dbdbdb;
  --black-natural-2: #ffffff;
  --black-natural-3: #dfdfdf;

  --gray-natural-dark: #8f8e8e;
  --gray-natural-medium: #272727;
  --gray-natural-light: #838383;

  --white-natural-1: #1c1c1c;
  --modal-background: #d2d2d2;

  --dark-red-natural-1: #fd0000;

  --dark-mask-1: rgba(213, 213, 213, 0.61);
  --box-shadow: #a9a9a9;


  --z-index-backgound: 10;
  --z-index-things-third-plan: 13;
  --z-index-things-second-plan: 15;
  --z-index-things-first-plan: 20;
  --z-index-button: 40;
  --z-index-popup: 80;
  --z-index-modal: 100;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: cursive;

}

#root {
  height: 100%;
  width: 100%;
  background: var(--black-natural-1);
}

.work-space{
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;

  &__header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: inherit;
  }

  &__body {
    display: inline-flex;
    height: calc(100% - 80px);
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    &_menu {
      height: calc(100% - 20px);
      align-items: flex-end;
    }
  }

}


