
body {
  --black-natural-2: #1c1c1c;
  --black-natural-1: #000000;
  --black-natural-3: #232323;
  --gray-natural-dark: #313131;
  --gray-natural-medium: #3e3e3e;
  --gray-natural-light: #636363;
  --white-natural-1: #d2d2d2;

  --dark-red-natural-1: #870000;

  --dark-mask-1: #0000009c;


}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: cursive;

}

#root {
  height: 100%;
  width: 100%;
  background: var(--black-natural-1);
}

.work-space{
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;

  &__header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: inherit;
  }

  &__body {
    display: inline-flex;
    height: calc(100% - 80px);
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

}


