@font-face {
  font-family: 'Bowler';
  src: url("/src/assets/fonts/Bowler.ttf") format("truetype");
}

@font-face {
  font-family: 'Patsy Sans';
  src: url("/src/assets/fonts/Patsy Sans.ttf") format("truetype");
}

@font-face {
  font-family: 'HangingLettersG';
  src: url("/src/assets/fonts/HangingLettersG.otf") format("truetype");
}

html[data-theme='dark']{
  --always-white-1: #fcfcfc;
  --always-black-1: #000000;

  --black-natural-1: #000000;
  --black-natural-2: #1c1c1c;
  --black-natural-3: #232323;
  --gray-natural-dark: #313131;
  --gray-natural-medium: #3e3e3e;
  --gray-natural-light: #636363;
  --white-natural-1: #d2d2d2;

  --modal-background: #d2d2d2;

  --dark-red-natural-1: #870000;

  --dark-mask-1: #0000009c;

  --box-shadow: #000000;
  --z-index-backgound: 10;
  --z-index-things-third-plan:  13;
  --z-index-things-second-plan: 15;
  --z-index-things-first-plan: 20;
  --z-index-button: 40;
  --z-index-popup: 80;
  --z-index-modal: 100;

  --dialog-cloud-color: var(--always-black-1)
}

html[data-theme='light']{
  --always-white-1: #d2d2d2;
  --always-black-1: #000000;

  --black-natural-2: #dbdbdb;
  --black-natural-1: #ffffff;
  --black-natural-3: #dfdfdf;

  --gray-natural-dark: #8f8e8e;
  --gray-natural-medium: #636363;
  --gray-natural-light: #838383;

  --white-natural-1: #000000;
  --modal-background: #d2d2d2;

  --dark-red-natural-1: #fd0000;

  --dark-mask-1: rgba(213, 213, 213, 0.61);
  --box-shadow: #a9a9a9;


  --z-index-backgound: 10;
  --z-index-things-third-plan: 13;
  --z-index-things-second-plan: 15;
  --z-index-things-first-plan: 20;
  --z-index-button: 40;
  --z-index-popup: 80;
  --z-index-modal: 100;

  --dialog-cloud-color: var(--gray-natural-dark)
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Bowler', sans-serif;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  background: var(--black-natural-1);
}

.work-space{
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;

  &__header {
    align-content: center;
    background-color: var(--black-natural-1);
    display: flex;
    height: 60px;
    justify-content: space-between;
    position: relative;
    z-index: 999;
  }

  &__body {
    background-color: var(--black-natural-2);
    display: inline-flex;
    height: calc(100% - 70px);
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-top: 10px;


    &_menu {
      height: 100%;
      align-items: flex-end;
    }
  }

}


